/*universal selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*class selector*/
.hero__section {
    background-image: url(heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.navbar{
    padding: 16px 40px;
    display: flex;
    justify-content: space-between ;
    align-items:center ;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar__menu_container{
    display: flex;
    gap: 20px;
}
/*decendent selectot*/
.navbar__menu_container .user_icon{
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none   ;
}

.hero__section_container{
padding-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(60vh, 60px);
    /*padding: 200px*/;
}
.hero__section_logo{/*
    padding-top: 30px;*/
    width: 210px;
    /*height: 1200px;
    height: auto;
*/
}
.hero__section_title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.hero__section_input_container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}
.input_container_location,
.input_container_seaarch{
    padding: 5px;
    border: none;
/* border-radius: 15px;
    width: 96%;*/
    outline: none;
}
.input_container_location{
width: 35%;
border-right: 2px solid gray;
}
.input_container_seaarch{
width: 65%;
}
/*offer section */
.container_offer_card{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    width: 95%;
    align-items: center;
justify-content: center;
gap: 15px;
transition: all 0.3 ease-out;
}

.offer_card{
    
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-items: auto ;
    border-radius: 10px;
    overflow: hidden;

    width: 400px;
    height: max-content;/*
    border-radius: 10px;*/
    /*is used to hide the over flown data outside the given border radius */
}
.offer_card:hover{
    transform: scale(1.03);/* scale is use to make the size bigger when hover over it */
}

.offer_image{
overflow: hidden;
width: 400px;
height: 250px;
border-radius: 10px;
object-fit: cover;
object-position: cover;
}
.offer_card h2{
font-size: 20px;
font-weight: 400;
}
.offer_card p{
font-size: 15px;
}
/*collection offer section */
.collection h1{
font-weight: 600;

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.collection .sub_heading_container{
font-size: 20px;
display: flex;
align-items: center;
justify-content: space-between;
flex:wrap;
gap:1rem;
}
.sub_heading_container span:nth-child(2){
    color:#ff7e8b;
    cursor: pointer;
}
.collection_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
}
.collection_card_container .card{
    height: 400px;
    min-width: 300px;
    background-size: cover;
    background-position:center ;
    border-radius: 10px;
    position: relative;

}
.card_1{
    background-image: url(collection1.jpg);
/* width: auto;
    height: 300px;
    overflow: hidden;*/
}
.card_2{
    background-image: url(collection2.jpg);
/* width: auto;
    height: 300px;
    overflow: hidden;*/
}
.card_3{
    background-image: url(collection3.jpg);
/* width: auto;
    height: 300px;
    overflow: hidden;
*/}
.card_4{
    background-image: url(collection4.jpg);
/*  width: auto;
    height: 300px;
    overflow: hidden;
*/}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.005) 87%);
    z-index: 5;
}
.collection_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}
.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

/*section get the app*/
.get_the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}
.semicontainer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.left{
    flex: 2;
}
.left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.right{
    flex:3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.get__the_app .semicontainer .right h1{
    font-weight: 400;
    font-size: 2rem;
}

.get__the_app .semicontainer .right p{
    font-size: 0.8rem;
}


.radio__buttons_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.get__the_app .semcontainer .right .radio__buttons_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio__buttons_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input_container{
    display: flex;
    gap: 0.5rem;
}

.input_container{
    flex-wrap: wrap;
}

.input_container button, .input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}


.download__app_container h5{
    font-weight: 400;
    color: gray;
}

.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 35%;
}
/*footer section*/
.footer_section{
    width: 100%;
}
.footer_section_1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}
.footer_section_1 img{
    width: 130px;
}
.section1_buttoncontainer{
    display: flex;
    gap: 1rem;
}
.section1_buttoncontainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navigation_container{
display: grid;/*
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
grid-template-columns: repeat(5,1fr);
width: 80%;
margin: auto;
gap: 1rem;
padding-top: 3rem  ;
}
.link_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link_container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: .8px;
}
.footer_link{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}
.footer_link:hover{/*pseudo class*/
    color: black;
    transform: scale(1.03);
}

.section_links_container button{
    color: white;
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    align-items: center;
}
.section_links_container button i{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_section_logos{
    width: 100%;
}
.disclaimer p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
    color: grey;
    justify-content: center;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
hr{
    width: 90%;
    margin: auto;

}



/*medie query */
@media only screen and (max-width: 600px) {
.navbar__menu_container .user_icon{
display: flex;
}
.link{
    display: none ;
    .hero__section{
    min-height: 80vh;
    }
}
}
/*media query for footer*/
